body{
    margin: 0;
}

.DivUm{
    background-color: red;
    width: 50px;
    height: 50px;
    border: 2px green solid;
    margin-top: 100px;
}

.DivDois{
    background-color: black;
    height: 50vh;
    width: 50%;
    border: 10px red dashed;
    margin: 100px 0px 0px 100px;
}